<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
              <a class='navbar-brand' [routerLink]="['/home']"><img id="logo" src="//d10xkldqejj5hr.cloudfront.net/content/images/HIDIVE_logo.svg"></a>
        </div>
        <!-- <img src="//d10xkldqejj5hr.cloudfront.net/content/images/HIDIVE_logo.svg" alt="HIDIVE" class="img-responsive" style="height:35px;max-width:none !important;"> -->
        <div class='clearfix'></div>
        <!-- <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
            </ul>
        </div> -->
    </div>
</div>
