<p *ngIf="!TitleRows"><em>Loading...</em></p>

<div *ngFor="let row of TitleRows">
  <div class="{{row.Name}}">
    <h1>{{row.Name}}</h1>
    <ul *ngFor="let title of row.Titles">
      <li>{{title.Id}}</li>
    </ul>
  </div>

</div>

<!-- <table class='table' *ngIf="TitleRows">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of TitleRows">
            <td>{{ row.Name }}</td>
        </tr>
    </tbody>
</table> -->
